<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>To-Do List Institucional</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div class="todo-container">
        <h2>To Do List</h2>
        <div class="input-group">
            <input type="text" id="taskInput" placeholder="Ej: estudiar en mi casita">
            <button id="add-btn">Agregar</button>
        </div>
        <ul id="taskList"></ul>
    </div>
        <script src="../static/js/script.js"></script>
</body>
</html>